// Bourbon Font
@import url("https://use.typekit.net/lac7dxc.css");

// Trada Sans Black
@font-face {
  font-family: 'trada-sans';
  src: url('/fonts/trada_sans/tradasans-black-webfont.woff2') format('woff2'),
       url('/fonts/trada_sans/tradasans-black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

// Trada Sans Extra Bold
@font-face {
  font-family: 'trada-sans';
  src: url('/fonts/trada_sans/tradasans-extrabold-webfont.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

// Trada Sans Bold
@font-face {
  font-family: 'trada-sans';
  src: url('/fonts/trada_sans/tradasans-bold-webfont.woff2') format('woff2'),
       url('/fonts/trada_sans/tradasans-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

// Trada Sans Regular
@font-face {
  font-family: 'trada-sans';
  src: url('/fonts/trada_sans/tradasans-regular-webfont.woff2') format('woff2'),
       url('/fonts/trada_sans/tradasans-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

// Trada Sans Light
@font-face {
  font-family: 'trada-sans';
  src: url('/fonts/trada_sans/tradasans-light-webfont.woff2') format('woff2'),
       url('/fonts/trada_sans/tradasans-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

// Trada Sans Light Italic
@font-face {
  font-family: 'trada-sans';
  src: url('/fonts/trada_sans/tradasans-lightitalic-webfont.woff2') format('woff2'),
       url('/fonts/trada_sans/tradasans-lightitalic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

body {
  font-family: 'trada-sans', sans-serif;
  font-size: 16px;
}